.badge-items {
  align-items: flex-end;
  justify-content: center;
  padding: 20px 20px;
  background-color: transparent;
  border: 0.5px solid var(--border-color);
  margin: 10px;
}
.badge-button {
  position: relative;
  color: var(--black-color);
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
}
.badge-items .kitty {
  padding: 10px;
}
.badge-avatar {
  position: relative;
  align-items: flex-end;
  justify-content: center;
  margin: 25px;
}
.icon-avatar-badge {
  position: absolute;
  bottom: 0.5rem;
  right: 0rem;
  background-color: var(--green-color);
  color: var(--white-color);
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}
.badge-button:hover {
  cursor: pointer;
}
.icon-button-badge {
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 50%;
  border: 2px solid var(--white-color);
}
.badge-xl {
  width: 5rem;
  height: 5rem;
}
.badge-lg {
  width: 4.5rem;
  height: 4.5rem;
}
.badge-md {
  width: 4rem;
  height: 4rem;
}
.icon-lg {
  width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
}
.icon-xl {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
}
.icon-md {
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.5rem;
}
