@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --black-color:black;
    --white-color:#ffffff;
    --background-color:#F8C0C8;
    /* --background-color:#c99198; */
    --hover-color:#f3bbc3;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}