.list-items {
  padding: 1.25rem;
  border: 0.5px solid var(--border-color);
  margin: 1.25rem;
  justify-content: center;
  align-items: center;
}
.list-item {
  border: 1px solid var(--grey-color);
  border-radius: 5px;
}
.lists {
  justify-content: space-around;
  align-items: center;
}

.no-bullet-list {
  list-style: none;
}
.ordered-list {
  list-style-type: lower-alpha;
}
.unordered-list {
  list-style-type: square;
}
.stacked-list {
  padding: 10px;
  display: flex;
  align-content: center;
  width: 25rem;
  margin: 10px 0px;
}
.stacked-list:hover {
  background-color: var(--list-hover);
}
.stacked-heading {
  font-size: 15px;
  padding: 5px;
}

.stacked-msg {
  font-size: 12px;
  padding: 0px 5px;
}

.stacked-image {
  padding: 0px 12px 0px 5px;
}
.stacked-image-list {
  height: 3rem;
  width: 3rem;
}
