.navbar {
  font-size: 18px;
  position: fixed;
  width: 100%;
  text-decoration: none;
  padding: 5px;
  z-index: 2;
  background-color: var(--background-color);
  color: var(--white-color);
}

.navbar-list {
  list-style: none;
  text-decoration: none;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 20px;
  padding-right: 80px;
  color: var(--white-color);
}
.navbar ul li a {
  color: var(--white-color);
}

.navbar-list a {
  text-decoration: none;
}
.Logo {
  padding: 20px 20px 20px 90px;
  font-size: 30px;
  text-decoration: none;
  color: var(--white-color);
}

.main-section {
  height: 500px;
  padding-left: 120px;
  
}
.main-section-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  
}
.left-main-section-container {
  flex-basis: 100%;
  /* display: flex;  */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}
.title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 2rem;
  color: var(--background-color);
}
.sub-title {
  font-weight: 400;
  margin-bottom: 3.5rem;
  line-height: 1.5;
}

.btn {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--background-color);
  color: var(--white-color);
  font-weight: 800;
}
.btn-primary:hover {
  background-color: var(--hover-color);
  opacity: 0.7;
}
.btn-secondary {
  background-color: var(--white-color);
  color: var(--background-color);
  border: 1.5px solid var(--background-color);
  font-weight: 800;
}
.btn-secondary:hover {
  color: var(--hover-color);
  border-color: var(--background-color);
  opacity: 0.7;
}
.right-main-section-container {
  flex-basis: 100%;
  min-width: 300px;
  margin: 30px;
  position:relative;
  z-index: -1;
  margin-top: 80px;
}
.image{
  height: 500px;
  width: 500px;
}

.footer{
    background-color: var(--background-color);
    color: var(--white-color);
    text-align: center;
    padding:30px 0px 10px 0px;
    margin-top: 120px;
    height:60px;
    position: relative;
    z-index: 2;
    width: 100%;
}
.footer-icons{
    color: var(--white-color);
    text-align: center; 
    padding: 5px;   
}
