.star-container {
    display: inline-block;
    text-align: center;
  }
  .rating-wrapper {
    direction: rtl;
  }
  .rating-item{
    padding:1rem;
    margin: 1rem;
  }
  .rating-wrapper label {
    display: inline-block;
    width: 3.2rem;
    position: relative;
    cursor: pointer;
  }
  .rating-wrapper input {
    display: none;
  }
  
  .rating-wrapper label:before {
    content: "\2605";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 3.2rem;
    color: var(--grey-color);
  }
  .rating-wrapper label:after {
    content: "\2605";
    position: absolute;
    top: 0;
    left: 0;
    color: var(--yellow-color);
    display: inline-block;
    font-size: 3.2rem;
    opacity: 0;
  }
  
  .rating-wrapper label:hover:after,
  .rating-wrapper label:hover ~ label:after,
  .rating-wrapper input:checked ~ label:after {
    opacity: 1;
  }