body {
  box-sizing: border-box;
}
.sidebar .nav2 {
  padding-bottom: 100px;
}
.sidebar ul li a {
  color: var(--black-color);
  padding: 0px 30px;
}
.sidebar {
  position: fixed;
  background-color: var(--white-color);
  width: 230px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: scroll;
}
.Installation {
  text-align: center;
  margin-top: 110px;
  padding: 0px 20px 5px 20px;
}
.components{
  text-align: center;
  margin: 10px 0;
  font-weight: 800;
  padding-top: 10px;
}
.sidebar ul li {
  text-align: center;
  margin: 25px 0;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: var(--white-color);
  background-color: var(--background-color);
  margin-left: 20px;
  transition: 0.4s;
}
